<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
@*    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MainDyplomeWork</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
<header>
  <div class="container">
    <div class="header-left">
      <h1>Cinema</h1>
    </div>
    <div class="header-middle">
      <nav>
        <ul>
          <li><a asp-controller="Film" asp-action="Index" class="active">Movies</a></li>
          <li><a href="#">Theaters</a></li>
          <li><a href="#">Contact</a></li>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
        }
        else{
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        }
        </ul>
      </nav>
    </div>
    <div class="admin-panel-block">
        <ul>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle">Admin Panel</a>
            <ul class="dropdown-menu">
              <li><a asp-controller="Genres" asp-action="Index">Genres</a></li>
              <li><a asp-controller="Directors" asp-action="Index">Directors</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="header-right">
      <form class="search-form">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</header>
  <main role="main" class="pb-3">
    @RenderBody()
  </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MainDyplomeWork - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
$document.addEventListener('DOMContentLoaded', function() {
  var dropdownToggle = document.querySelectorAll('.dropdown-toggle');
  var dropdownMenus = document.querySelectorAll('.dropdown-menu');

  dropdownToggle.forEach(function(toggle) {
    toggle.addEventListener('click', function(e) {
      e.preventDefault();
      var menu = this.nextElementSibling;
      toggle.classList.toggle('active');
      menu.classList.toggle('show');
    });
  });

  document.addEventListener('click', function(e) {
    if (!e.target.matches('.dropdown-toggle') && !e.target.matches('.dropdown-toggle *')) {
      dropdownMenus.forEach(function(menu) {
        menu.classList.remove('show');
        menu.previousElementSibling.classList.remove('active');
      });
    }
  });
});
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>